{% extends 'base.html' %}

{% block content %}

    <blockquote class="twitter-tweet">
        <p lang="fr" dir="ltr">Le 19 mai les terrasses rouvriront mais les tables seront limitées à 6 personnes, alors
            que les musées, monuments, cinémas, théâtres et salles de spectacle avec public assis pourront reprendre
            leur activité avec un maximum de 800 personnes en intérieur et 1.000 en extérieur
            <a href="https://twitter.com/hashtag/AFP?src=hash&amp;ref_src=twsrc%5Etfw">#AFP</a>
            <a href="https://t.co/y7CdVBLiLO">pic.twitter.com/y7CdVBLiLO</a>
        </p>
        &mdash; Agence France-Presse (@afpfr)
        <a href="https://twitter.com/afpfr/status/1387753953924952067?ref_src=twsrc%5Etfw">April 29, 2021</a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

{% endblock %}